.bg-img-card {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    background-color: white;
    background-blend-mode: overlay;
    transition: background-size 0.5s;
}

.bg-img-card:hover {
    background-size: 150%;
    background-color: rgba(255, 255, 255, 0.825);
}